<article class="post">
    {{#each posts}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
        <span>{{format_date createdAt}}</span>
        <span>{{title}}</span>
        <span>{{post_body}}</span>
    </a>
    {{/each}}
</article>