<article class="post">
    <div class="title">
        <div class="list-item">
            <a href="/post/{{id}}">{{title}}</a>
        </div>
        <span>{{format_date created_at}}</span>
    </div>
</article>