<div class="container">
    <br>
    <article class="post">
        <ul class="list-group">
            <li class="list-group-item">
                <a class="text-dark" href=" /post/{{id}}">{{title}}</a>
            </li>
            <span> created on {{format_date created_at}}</span>
        </ul>
    </article>
</div>