<div class="container">
    {{#each this}}
    <section class="post">
        <ul class="list-group">
            <li class="list-group-item">
                <span> created by {{user.username}} on {{format_date createdAt}}</span>
                <p class="text">
                    {{comment_text}}
                </p>
            </li>
        </ul>
    </section>
    {{/each}}
</div>