<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="flex-column min-100-vh">
    <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><a href="/">Homepage</a></li>
            <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
            <li class="li-inline nav-item"><a href="/login">Login</a></li>
            {{!-- <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li> --}}
            {{#if loggedIn}}
            {{!-- <a href="/dashboard">dashboard</a> --}}
            <button id="logout" class="btn-no-style">logout</button>
            {{/if}}
            {{#unless loggedIn}}

            <a href="/login">login</a>
            {{/unless}}
        </ul>
    </nav>

    <header>
        <h1>
            <a href="/">TECH BLOG</a>
        </h1>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer class="flex-row justify-center">
        Thanks for visiting!
    </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>