<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tech blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="container text-center">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"> your tech blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">homepage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">dashboard</a>
                    </li>
                    {{#if loggedIn}}
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="logout-link">logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" tabindex="-1" aria-disabled="true" href="/login">login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        {{{ body }}}
    </main>

    <footer class="footer mt-auto py-6 bg-dark">
        <div>
            <h6 class="mt-5 mb-3 text-muted"> thanks for visiting &copy;2020 </h6>
        </div>
    </footer>

</body>

</html>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}