<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tech blog</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="flex-column min-100-vh">
    <nav class="navbar">
        <ul>
            <li class="li-inline nav-item"><a href="/">homepage</a></li>
            <li class="li-inline nav-item"><a href="/dashboard">dashboard</a></li>
            <li class="li-inline nav-item"><a href="/login">login</a></li>
            <li class="li-inline nav-item"><a href="#" id="logout-link">logout</a></li>
            <h2><a href="/"> your tech blog</a></h2>
        </ul>
    </nav>

    <main class="col-auto">
        {{{ body }}}
    </main>
    </div>
</body>
<footer class="flex-row justify-center">
    <h4>thanks for visiting!</h4>
</footer>

</html>
<script src="/javascript/logout.js"></script>