<div class="flex-column min-100-vh">
    <nav class="hero">
        <h3 class="app-title"><a href="/dashboard">your dashboard</a></h3>
    </nav>
    <section>
        <a href="/dashboard/new" type="submit" class="btn"> create new post</a>
    </section>

</div>

{{#if posts.length}}
<section>
    <h2>your posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info}}
            <a href="dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/new-post.js"></script>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/logout.js"></script>