<div class="flex-column min-100-vh">
    <nav class="hero">
        <h5 class="app-title"><a href="/dashboard">your dashboard</a></h5>
    </nav>
    <section>
        <a href="/dashboard/new" type="submit" class="btn btn-danger"> create new post</a>
    </section>

</div>

{{#if posts.length}}
<section>
    <ol class="list-unstyled">
        {{#each posts as |post|}}
        <li class="list-item">
            <div class="card-header">
                <div>{{post.title}} </div>
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
            </div>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/logout.js"></script>