<div class="post card">
    <a class=" " href="/dashboard"> &larr; back to dashboard</a>
    <h3>edit post</h3>
    <form class="edit-post-form">
        <input type="hidden" id="post-id" name="post-id" value="{{post.id}}" />
        <label class="form-label" for="post-title">title</label>
        <input type="text" name="post-title" value="{{post.title}}" class="form-input" />
        <br>
        <br>
        <label class="form-label" for="post-body">post</label>
        <textarea name="post-body" class="form-input">{{post.post_body}}</textarea>
        <br>
        <button type="submit" class="btn btn-danger">update</button>
        <br>
        <br>
        <button type="button" class="delete-btn btn-danger">delete</button>
    </form>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>