<div class="post card">
    <a href="/dashboard"> &larr; back to dashboard</a>
    <h2>
        edit post
    </h2>
    <form id="edit-post-form" class="card-body">
        <input type="hidden" id="post-id" name="post-id" value="{{post.id}}" />

        <label class="form-label" for="post-title">title</label>
        <input type="text" name="post-title" value="{{post.title}}" class="form-input" />

        <label class="form-label" for="post-body">post</label>
        <textarea name="post-body" class="form-input">{{post.body}}</textarea>

        <button type="submit" class="btn">update</button>
        <button type="button" id="delete-btn" class="btn">delete</button>
    </form>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>