<div class="card">
    <div class="card-header">
        <h4>login</h4>
    </div>
    <form id="login-form" class="card-body">
        <div>
            <label for="username-input-login">username</label>
            <input type="text" id="username-input-login" name="username" />
        </div>
        <div>
            <label for="password-input-login" class="form-label">password</label>
            <input name="password" type="password" id="password-input-login" />
        </div>
        <button type="submit" id="login-button" class="btn btn-danger">login</button>
        <a href="/signup">sign up instead</a>
    </form>
</div>



<script src="/javascript/login.js"></script>