<div class="post card">
    <div class="card-header">
        <h3>create new post</h3>
    </div>
    <form class="new-post-form">
        <label class="form-label" for="post-title">title</label>
        <input type="text" name="post-title" class="form-input" {{post.title}} />
        <label class="form-label" for="post-body">post </label>
        <textarea name="post-body" class="form-input"> {{post.post_body}}</textarea>

        <button type="submit" class="btn btn-danger">create</button>
    </form>
</div>

<script src="/javascript/new-post.js"></script>