<div class="post card">
    <div class="card-header">
        <h2>create new post</h2>
    </div>
    <form id="new-post-form" class="card-body">
        <label class="form-label" for="post-title">title</label>
        <input type="text" name="post-title" class="form-input" {{post.title}} />

        <label class="form-label" for="post-body">post </label>
        <textarea name="post-body" class="form-input"> {{post.post_body}}</textarea>

        <button type="submit" class="btn">create</button>
    </form>
</div>



<script src="/javascript/new-post.js"></script>