{{!-- post title,
contents,
post creator’s username,
and date created for that post
and have the option to leave a comment--}}


{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

<div class="list-item">
    <a>{{post.title}}</a>
    <div>
        {{post.post_body}}
    </div>
    <div>
        Created by {{post.username}} on {{format_date created_at}}</div>
</div>


{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}