:root {
    --primary:white;
    --secondary: #cae2db;
    --light-dark: #6f6866;
    --dark: rgb(59, 55, 55);
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    color: var(--dark);
    font-size: 15px;
  }
  .navbar {
    width: 100%;
    background-color: var(--dark);
  }
  .nav-item a {
    color: var(--primary);
  }
  .footer {
    display: inline-block;
  }